#header{
  text-align: center;
  color: rgb(117, 0, 0);
}

#urApp{
  margin: 10px;
  background-color: black;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

#opens{
  margin: 10px;
  background-color: black;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

#cmpns{
  width: 250px;
  height: 150px;
  border-radius: 10px;
}